# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Chroma DB
chroma_db/

# Temporary files
tmp/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.tmp

# Python Virtual Environment
.venv
venv/

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs
*.log